/* General Styling */
.addProject-wrapper {
  margin-left: 20%;
  max-width: 1280px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  transition: all 0.3s ease-in-out;
  background-image: url('https://img.freepik.com/free-vector/abstract-background-with-modern-techno-design_1048-5494.jpg?ga=GA1.1.276783253.1732774047&semt=ais_hybrid&w=740');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .addProject-wrapper {
    width: 100%;
    margin-left: 0;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .addProject-wrapper {
    padding: 1rem;
  }

  .MuiPaper-root {
    width: 90% !important;
  }
}

@media (max-width: 480px) {
  .addProject-wrapper{
    width: 100%;
    margin-left: 0;
    padding: 3rem;
  }
}